# Base de datos (Supabase / PostgreSQL)
DATABASE_URL=postgresql://postgres.[PROJECT_REF]:[PASSWORD]@aws-0-[REGION].pooler.supabase.com:5432/postgres?sslmode=require

# Seguridad Backend
SECRET_KEY=your_super_secret_jwt_key_here
ACCESS_TOKEN_EXPIRE_MINUTES=525600
ENVIRONMENT=development
CORS_ORIGINS=["*"]

# Credenciales de Administrador inicial
ADMIN_USERNAME=Admin_Diego
ADMIN_PASSWORD=your_secure_password_here
ADMIN_EMAIL=admin@academix.com
